<ion-header>
  <ion-navbar>
    <ion-title text-center>退货详情</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="order-list">
    <div class="loading-wrapper" *ngIf="loadingShow">
      <div>
        <ion-spinner item-start [name]="load.spinner"></ion-spinner>
      </div>
      <div [innerHTML]="load.content"></div>
    </div>
    <div class="order-items">
      <!-- 订单编号 -->
      <div class="order-title">
        <h2>订单编号：
          <span>{{returnedDetail.order.orderId}}</span>
        </h2>
        <!--color auditing or pass -->
        <span [ngClass]="{auditStatus: true, pass:(orderStatus | setReturnOrderStatus).pass , auditing:(orderStatus | setReturnOrderStatus).audit} ">{{(orderStatus | setReturnOrderStatus).status}}</span>
      </div>
      <!-- 商品 -->
      <div class="order-item">
        <dl>
          <dt>
            <img class="my-picture" [src]="returnedDetail.itemProductSkuDTO.productSkuDTO.fileSeq | productSkuDTOImage" [alt]="returnedDetail.itemProductSkuDTO.productSkuDTO.productName">
          </dt>
          <dd class="product-title">{{returnedDetail.itemProductSkuDTO.productSkuDTO.productName}}</dd>
          <dd class="sku-list">
            <!-- <span>{{returnedDetail.itemProductSkuDTO.productSkuDTO.attrValueList}}</span> -->
            <span *ngFor="let sku of returnedDetail.itemProductSkuDTO.productSkuDTO.attrValueList"> {{sku.attrValue}} </span>
          </dd>
          <dd class='price'>￥{{returnedDetail.itemProductSkuDTO.unitPrice}}</dd>
          <dd class="count">X{{returnedDetail.itemProductSkuDTO.number}}</dd>
        </dl>
      </div>
      <div class="orderOperate">
        <dl>
          <dt>
          </dt>
          <dd class="total">共{{returnedDetail.orderReturn.number}}件商品，实付￥{{returnedDetail.returnAmount}}</dd>
        </dl>
      </div>
    </div>
    <div class="return-detail">
      <ul>
        <li>退货数量：{{returnedDetail.orderReturn.number}}</li>
        <li>联系方式：{{returnedDetail.orderReturn.mobile}}</li>
        <li>退货方式：
          <span *ngIf="returnedDetail.orderReturn.returnType == 1">门店</span>
          <span *ngIf="returnedDetail.orderReturn.returnType == 2">快递</span>
          <span *ngIf="returnedDetail.orderReturn.returnType == 0">其他</span>
        </li>
        <li>是否有发票：{{returnedDetail.orderReturn.invoiced==1?'有': '无'}}</li>
        <li>退货原因：{{returnedDetail.orderReturn.reasonType | reasonType}}</li>
        <li>问题描述：{{returnedDetail.orderReturn.detail}}</li>
        <li class="img-list" *ngIf="imageArray">
          <img [src]="itemImg | productSkuDTOImage" alt="" *ngFor="let itemImg of imageArray">
        </li>
      </ul>
    </div>
    <div class="return-detail approval-user">
      <ul>
        <li>审核人员：{{returnedDetail.orderReturn.approvalUserName}}</li>
        <li>确认收货人员：{{returnedDetail.orderReturn.receiveUserName}}</li>
      </ul>
    </div>
  </div>
</ion-content>