<ion-header class="header-title-hidden">
  <ion-navbar>
    <ion-title text-center>登录</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <h1 class="logo">
    <img src="./assets/image/logo.png" alt="淘璞帮">
  </h1>
  <div class="login-content">
    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="username" type="text" placeholder="账号或手机号码" required clearInput=true (ionBlur)="onblurAffirm()"></ion-input>
      </ion-item>
      <div class='login-error' *ngIf="isUserName">{{userNameValue}}</div>
      <ion-item>
        <ion-input [(ngModel)]="pwd" type="password" placeholder="密码" required clearInput=true></ion-input>
      </ion-item>
      <div class='login-error' *ngIf="isPwd">{{userPwdValue}}</div>
      <ion-item>
        <ion-label>记住密码</ion-label>
        <ion-checkbox [(ngModel)]="rememberPassword"></ion-checkbox>
      </ion-item>
      <!-- <ion-item  class="forget" (click)="forget()">
        <span>忘记密码?</span>
      </ion-item> -->
    </ion-list>
    <button class="btn-login" ion-button block round (click)="login()">登录</button>
  </div>
</ion-content>