login {
	.content {
		background: #fff;
	}
	.logo {
		margin: 3.4rem 0 4rem;
		text-align: center;
		img {
			width: 7.5rem;
		}
	}
	.item-md, .item-ios {
		padding-left: 0;
		font-size: 1.5rem;
	}
	.list-ios {
		margin-bottom: 16px;
	}
	.list-ios > .item-block:last-child,
	.list-ios > .item-block:first-child,
	.list-md .item-input:last-child {
		border: none;
	}
	.list-ios, .list-md {
		.item-block {
			min-height: auto;
			margin-bottom: 2.2rem;
			.item-inner {
				border: none;
				padding-right: 0;
			}
		}
	}
	.login-content {
		padding: 0 2.8rem;
	}
	.item-ios.item-block{
		.item-inner {
			padding-right: 0;
		}
	}
	.input-ios, .input-md {
		border-radius: 5px;
		border: solid 1px #ccc;
		padding: 0;
	}
	.text-input {
		height: 42px;
		line-height: 24px;
		margin: 0 0 0 1rem;
	}
	.list-md .item-input.item-input-has-focus:last-child,
	.list-md .item-input.input-has-focus:last-child,
	.item-md.item-input.item-input-has-focus .item-inner,
	.item-md.item-input.input-has-focus .item-inner {
	  border: none;
	  -webkit-box-shadow: none;
	  box-shadow: none;
	}
	.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus){
		.item-inner {
			border-bottom: none;
		}
	}
	.item.item-md {
		.checkbox-md {
			margin-right: 10px;
		}
	}
	.item.item-ios {
		.checkbox-ios {
			margin-right: 10px;
		}
	}
	.list {
		position: relative;
	}
	.forget {
		.label-ios, 
		.label-md {
			color: #333;
		}
		text-decoration: underline;
		margin: 0!important;
		width: auto !important;
		display: inline-block;
		position: absolute;
		right: 0;
		bottom: 0;
	}
	.label-ios, 
	.label-md {
		color: #999;
		margin-right: 0;
	}
	.login-error {
		font-size: 1.2rem;
		color: #f00;
		position: absolute;
		margin-top: -1.9rem;
	}
	.btn-login {
		background-color: #5e9efe;
	}
	.error3 {
		text-align: center;
		margin-top: 10px;
		color: #f00;
	}

}