<ion-header>
  <ion-navbar>
    <ion-title text-center>待审核订单</ion-title>
  </ion-navbar>
  <ion-toolbar class="statusBox">
    <ul>
      <li *ngFor="let status of statusList, let i = index" [ngClass]="{active:currentStatus == status.label}" (click)="getCurrentStatus(i)">{{ status.label }}（{{status.num}}）</li>
    </ul>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- 下拉刷新 -->
  <ion-refresher (ionRefresh)="doRefresh($event)" *ngIf="!loadingShow">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- 待审核取消订单列表 -->
  <div class="order-cancelList" *ngIf="currentIndex == 0">
    <!-- loading -->
    <div class="loading-wrapper" *ngIf="loadingShow">
      <div>
        <ion-spinner item-start [name]="load.spinner"></ion-spinner>
      </div>
      <div [innerHTML]="load.content"></div>
    </div>
    <div class="order-items" *ngFor="let item of unauditCancelorderArray;let i = index">
      <div class="order-title">
        <h2>订单编号：
          <span>{{item.orderId}}</span>
        </h2>
        <span [ngClass]="{auditStatus: true, pass:(item.status | setCancelOrderStatus).pass , auditing:(item.status | setCancelOrderStatus).audit} ">{{(item.status | setCancelOrderStatus).status}}</span>
      </div>
      <div class="order-item" *ngFor="let single of item.itemList">
        <dl>
          <dt>
            <img class="my-picture" [src]="single.productSkuDTO.fileSeq | productSkuDTOImage" [alt]="single.productSkuDTO.productName">
          </dt>
          <dd class="product-title">{{ single.productSkuDTO.productName }}</dd>
          <dd class="sku-list">
            <span *ngFor="let sku of single.productSkuDTO.attrValueList">{{ sku.attrValue }} </span>
          </dd>
          <dd class='price'>￥{{ single.unitPrice }}</dd>
          <dd class="count">X{{ single.number }}</dd>
        </dl>
      </div>
      <div class="orderOperate">
        <dl>
          <dt>
            <button class="btn-audit" ion-button (click)="auditOrder(i)">审核</button>
          </dt>
          <dd class="total">{{item.totalNumber}}件商品，实付￥{{item.payAmount}}</dd>
          <dd class="member-phone">会员手机：{{item.memberMobile}}</dd>
        </dl>
      </div>
    </div>
    <div class="no-data" *ngIf="noData">
      <img src="./assets/image/nodata.png" alt="">
      <p>空空如也</p>
    </div>
    <div class="btn-cancelView" (touchstart)="goAuditCancel()">
      <span>查看审核完成订单</span>
    </div>
    <div class="btn-noMore" *ngIf="showNoMore">
      <span>—— 没有更多信息了 ——</span>
    </div>
    <div class="request-defeat" *ngIf="requestDefeat">
      <img src="./assets/image/requestDefeat.png" alt="">
      <p>啊哦！页面走丢了</p>
      <button class="btn-request-defeat" ion-button full (touchstart)="requestDefeatRefreshCancelorder()">
        刷新再找一找
      </button>
    </div>
    <ion-infinite-scroll (ionInfinite)="loadMore($event)" *ngIf="!showNoMore && showInfinite">
      <ion-infinite-scroll-content loadingText="加载更多..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <!-- 待审核退货订单列表 -->
  <div class="order-returnList" *ngIf="currentIndex == 1">
    <!-- loading -->
    <div class="loading-wrapper" *ngIf="loadingShow">
      <div>
        <ion-spinner item-start [name]="load.spinner"></ion-spinner>
      </div>
      <div [innerHTML]="load.content"></div>
    </div>
    <div class="order-items" *ngFor="let item of unauditReturnorderArray;let i = index">
      <div class="order-title">
        <h2>订单编号：
          <span>{{item.orderId}}</span>
        </h2>
        <span [ngClass]="{auditStatus: true, pass:(item.status | setReturnOrderStatus).pass , auditing:(item.status | setReturnOrderStatus).audit} ">{{(item.status | setReturnOrderStatus).status}}</span>
      </div>
      <div class="order-item">
        <dl>
          <dt>
            <img class="my-picture" [src]="item.productSkuDTO.fileSeq | productSkuDTOImage" [alt]="item.productSkuDTO.productName">
          </dt>
          <dd class="product-title">{{ item.productSkuDTO.productName }}</dd>
          <dd class="sku-list">
            <span *ngFor="let sku of item.productSkuDTO.attrValueList">{{ sku.attrValue }} </span>
          </dd>
          <dd class='price'>￥{{ item.unitPrice }}</dd>
          <dd class="count">X{{ item.buyNumber }}</dd>
        </dl>
      </div>
      <div class="orderOperate">
        <dl>
          <dt>
            <button class="btn-audit" ion-button (click)="auditReturn(i)" *ngIf="item.status==0">审核</button>
            <button class="btn-audit" ion-button (click)="confirmReturn(i)" *ngIf="item.status==1">确认收货</button>
          </dt>
          <dd class="total">退货数量: {{item.number}}</dd>
          <dd class="member-phone">会员手机：{{item.mobile}}</dd>
        </dl>
      </div>
    </div>
    <div class="no-data" *ngIf="noData">
      <img src="./assets/image/nodata.png" alt="">
      <p>空空如也</p>
    </div>
    <div class="btn-cancelView" (touchstart)="goAuditReturn()">
      <span>查看已处理退货订单</span>
    </div>
    <div class="btn-noMore" *ngIf="showNoMore">
      <span>—— 没有更多信息了 ——</span>
    </div>
    <div class="request-defeat" *ngIf="requestDefeat">
      <img src="./assets/image/requestDefeat.png" alt="">
      <p>啊哦！页面走丢了</p>
      <button class="btn-request-defeat" ion-button full (touchstart)="requestDefeatRefreshReturnorder()">
        刷新再找一找
      </button>
    </div>
    <ion-infinite-scroll (ionInfinite)="loadMore($event)" *ngIf="!showNoMore && showInfinite">
      <ion-infinite-scroll-content loadingText="加载更多..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>