unaudit-tabs {
  .back-button {
		display: block;
  }
  .tabbar.show-tabbar {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
  }
  .statusBox .toolbar-background {
    background-color: white!important;
    padding: 0;
  }
  .statusBox.toolbar.toolbar-ios {
    padding: 0;
  }
  .statusBox {
    border-bottom: solid 1px #f5f5f5;
    ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      li {
        color: #5e9efe;
        line-height: 44px;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        text-align: center;
      }
      .active {
        border-bottom: solid 4px #5e9efe;
        color: #5e9efe;
      }
    }
  }
  .tabs-list {
		.tab-button-text {
			font-size: 1.5rem!important;
		}
		.tab-button {
			padding: 0;
			margin: 0 2rem;
		}
		.tab-button[aria-selected=true] {
			border-bottom: solid 4px #5e9eff;
			.tab-button-text {
				-webkit-transform: scale3d(1, 11, 1);
				transform: scale3d(1, 1, 1);
			}
		}
		.tab-button {
	  	min-height: 49px!important;
		}
  }
  .tabs-list[tabsPlacement=top] {
		.tabbar {
	  	border-bottom: solid 1px #f0f0f0;
		}
  }
  .btn-cancelView {
		color: #999;
		font-size: 1.5rem;
		text-align: center;
		padding-top: 2rem;
		span {
			text-decoration: underline;
		}
	}
	.btn-noMore {
	  margin: 2rem 0;
  }
  .order-cancelList {
    .order-title {
      background: #fff;
      border-bottom: solid 1px #f5f5f5;
      line-height: 44px;
      height: 44px;
      position: relative;
      padding: 0 1rem 0;
      h2 {
        color: #999;
        font-size: 1.5rem;
        line-height: 44px;
        margin: 0 90px 0 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        span {
        font-weight: normal;
        }
      }
      .auditStatus {
        font-size: 1.5rem;
        color: #ff384f;
        position: absolute;
        right: 1rem;
        top: 0;
      }
      .auditing {
        color: #ff384f;
      }
      .pass {
        color: #35cf2f;
      }
    }
    .order-list {
      margin: 0 .8rem 2.4rem;
    }
    .order-items {
      background: #fff;
      margin-top: .8rem;
    }
    .order-item {
      padding: 1rem 1rem 1rem 0;
      margin: 0 0 0 1rem;
      dl {
        position: relative;
        &::after {
          content: '';
          display: block;
          clear: both;
        }
      }
      dt {
        float: left;
        max-width: 80px;
        margin-right: 1rem;
        img {
          display: block;
          max-width: 100%;
        }
      }
      dd {
        color: #333;
        font-size: 1.5rem;
        line-height: 24px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .sku-list {
        color: #999;
        margin-top: 8px;
      }
      .count {
        position: absolute;
        bottom: 0;
        right: 0;
      }
      .price {
        color: #5e9efe;
      }
      .sku-list,
      .count {
        font-size: 1.2rem;
      }
    }
    .orderOperate {
      position: relative;
			padding: 10px 1rem;
			border-top: solid 1px #f5f5f5;
			dl {
				&::after {
					content: '';
					display: block;
					clear: both;
				}
				.button {
					margin: 5px 0 0;
					height: 3.2rem;
					width: 8rem;
				}
	  	}
	  	dt {
				float: right;
	  	}
			dd {
				color: #333;
				font-size: 1.5rem;
				line-height: 24px;
			}
			.member-phone {
				color: #999;
      }
      .button {
        position: absolute;
        right: 1rem;
        top: 50%;
        margin-top: -1.25rem!important;
        height: 2.5rem!important;
        width: 8rem;
        font-size: 1.2rem;
        background-color: #5e9efe;
      }
		}
  }
  .order-returnList {
    .order-title {
      background: #fff;
      border-bottom: solid 1px #f5f5f5;
      line-height: 44px;
      height: 44px;
      position: relative;
      padding: 0 1rem 0;
      h2 {
        color: #999;
        font-size: 1.5rem;
        line-height: 44px;
        margin: 0 90px 0 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        span {
        font-weight: normal;
        }
      }
      .auditStatus {
        font-size: 1.5rem;
        color: #ff384f;
        position: absolute;
        right: 1rem;
        top: 0;
      }
      .auditing {
        color: #ff384f;
      }
      .pass {
        color: #35cf2f;
      }
    }
    .order-list {
      margin: 0 .8rem 2.4rem;
    }
    .order-items {
      background: #fff;
      margin-top: .8rem;
    }
    .order-item {
      padding: 1rem 1rem 1rem 0;
      margin: 0 0 0 1rem;
      dl {
        position: relative;
        &::after {
          content: '';
          display: block;
          clear: both;
        }
      }
      dt {
        float: left;
        max-width: 80px;
        margin-right: 1rem;
        img {
          display: block;
          max-width: 100%;
        }
      }
      dd {
        color: #333;
        font-size: 1.5rem;
        line-height: 24px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .sku-list {
        color: #999;
        margin-top: 8px;
      }
      .count {
        position: absolute;
        bottom: 0;
        right: 0;
      }
      .price {
        color: #5e9efe;
      }
      .sku-list,
      .count {
        font-size: 1.2rem;
      }
    }
    .orderOperate {
        position: relative;
        padding: 10px 1rem;
        border-top: solid 1px #f5f5f5;
        dl {
          &::after {
            content: '';
            display: block;
            clear: both;
          }
          .button {
            margin: 5px 0 0;
            height: 3.2rem;
            width: 8rem;
          }
        }
        dt {
          float: right;
        }
        dd {
          color: #333;
          font-size: 1.5rem;
          line-height: 24px;
        }
        .member-phone {
          color: #999;
        }
        .button {
          position: absolute;
          right: 1rem;
          top: 50%;
          margin-top: -1.25rem!important;
          height: 2.5rem!important;
          width: 8rem;
          font-size: 1.2rem;
          background-color: #5e9efe;
        }
      }
    .btn-cancelView {
      color: #999;
      font-size: 1.5rem;
      text-align: center;
      padding: 2rem;
      span {
        text-decoration: underline;
      }
    }
  }
}