<ion-header>
  <ion-navbar>
    <ion-title text-center>配单列表</ion-title>
    <span class='icon-creat-order' (touchstart)="orderRepertory()">
      <img src="./assets/image/creatorder.png" alt="配单仓"> 配单仓
      <ion-badge item-end>{{warehouseCount > 9 ? '9+' : warehouseCount}}</ion-badge>
    </span>
  </ion-navbar>
  <!-- 搜索框 -->
  <div class="search-box">
    <form action="">
      <input type="search" class="search" [(ngModel)]="searchKeyWord" name="searchKeyWord" (keypress)="keypress($event)" autocomplete="off" placeholder="请输入商品名称">
      <ion-icon name="close" *ngIf="searchKeyWord!=''" class="clear" (click)="searchKeyWord = '';searchEvent()"></ion-icon>
    </form>
  </div>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="refreshGetCreatOrderList($event)" *ngIf="!loadingShow">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div>
    <!-- loading -->
    <div class="loading-wrapper" *ngIf="loadingShow">
      <div>
        <ion-spinner item-start [name]="load.spinner"></ion-spinner>
      </div>
      <div [innerHTML]="load.content"></div>
    </div>
  </div>
  <div class="product-list" *ngIf="!noData">
    <ul>
      <li *ngFor="let item of creatOrderArray;let i = index">
        <img class="nodata-image" src="./assets/image/nodata.png" alt="">
        <img class="product-image" [src]="item.fileSeq | productSkuDTOImage" alt="产品">
        <p>{{item.productName}}</p>
        <div class="btn-add">
          <button ion-button round (click)="addProductModal(i)">加入配单仓</button>
        </div>
      </li>
    </ul>
  </div>
  <div class="no-data" *ngIf="noData">
    <img src="./assets/image/nodata.png" alt="">
    <p>空空如也</p>
  </div>
  <div class="btn-noMore" *ngIf="showNoMore">
    <span>—— 没有更多商品了 ——</span>
  </div>
  <div class="request-defeat" *ngIf="requestDefeat">
    <img src="./assets/image/requestDefeat.png" alt="">
    <p>啊哦！页面走丢了</p>
    <button class="btn-request-defeat" ion-button full (touchstart)="requestDefeatRefresh()">
      刷新再找一找
    </button>
  </div>
  <ion-infinite-scroll (ionInfinite)="infiniteGetCreatOrderList($event)" *ngIf="!showNoMore && showInfinite">
    <ion-infinite-scroll-content loadingText="加载更多..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>