creat-order {
  .back-button {
		display: block!important;
  }
  .icon-creat-order {
		color: #fff;
		font-size: 1.5rem;
		display: block;
		position: absolute;
		right: 1rem;
		bottom: 1rem;
		margin-top: -11px;
		padding-left: 22px;
		line-height: 20px;
		height: 20px;
		img {
			position: absolute;
			left: 0;
			width: 1.6rem;
			margin-right: .5rem;
		}
  }
  .search-box {
    position: relative;
		background: #fff;
    .item {
      border-bottom: 0;
      .item-inner {
        border-bottom: 0;
      }
      .input {
        font-size: 1.5rem;
        border-radius: 3.4rem;
        padding-left: 3%;
        border:1px solid #ccc;
      }
    }
  }
  .search {
		background: none;
		height: 34px;
		margin: .5rem 1rem;
		width: 94%;
		min-height: auto;
    font-size: 1.5rem;
    border-radius: 18px;
    border: solid 1px #ccc;
    padding: 0 30px 0 30px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .clear {
    position: absolute;
    right: 26px;
    top: 8px;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-align: center;
    line-height: 3rem;
  }
  .searchbar-md {
		.searchbar-search-icon {
			left: 9px;
			top: 9px;
		}
  }
  .searchbar-ios {
		.searchbar-search-icon {
			left: 10px;
			top: 12px;
		}
  }
  .product-list {
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		padding-bottom: 30px;
		li {
			background: #fff;
			float: left;
			width: 47%;
			padding-top: 47%;
			margin: 8px 0 0 2%;
			position: relative;
			img {
				display: block;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
			img.nodata-image {
				z-index: 10;
				width: 80%;
				left: 10%;
				top: 5%;
			}
			img.product-image {
				z-index: 20;
			}
			p {
				font-size: 1.4rem;
				height: 46px;
				line-height: 20px;
				padding: 5px 10px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: normal;
			}
			.btn-add {
				height: 3.5rem;
				text-align: right;
				position: relative;
			}
			.button {
				font-size: 1.2rem;
				height: 3rem;
				margin: 0;
				padding: 0 1.2rem;
				position: absolute;
				right: .5rem;
			}
		}
  }
}