<ion-content>
  <div class="forget-box">
    <div class="update-instruction">
      <dl>
        <dt><img src="./assets/image/applogo.png"></dt>
        <dd>
          <p>初次登录淘璞帮</p>
          <p>请您修改登录密码并牢记</p>
        </dd>
      </dl>
    </div>
    <ion-list>
      <ion-item>
        <ion-input type="password" [(ngModel)]="initialPwd" (ionBlur)="initialPwdBlur()" placeholder="请输入初始密码" required clearInput=true></ion-input>
      </ion-item>
      <div class='login-error' *ngIf="isInitialPwd">{{initialPwdValue}}</div>
      <ion-item>
        <ion-input type="password" [(ngModel)]="newPwd" (ionBlur)="newPwdBlur()" placeholder="输入新密码" required clearInput=true></ion-input>
      </ion-item>
      <div class='login-error' *ngIf="isNewPwd">{{newPwdValue}}</div>
      <ion-item>
        <ion-input type="password" [(ngModel)]="repeatPwd" (ionBlur)="repeatPwdBlur()" placeholder="重复密码" required clearInput=true></ion-input>
      </ion-item>
      <div class='login-error' *ngIf="isRepeatPwd">{{repeatPwdValue}}</div>
    </ion-list>
    <button class="btn-forget" ion-button block round (touchstart)="confirm()">确认</button>
  </div>
  </ion-content>
  
