update-pwd {
  .btn-forget {
		background: #5e9efe;
  }
  .content {
		background: #fff;
  }
  .update-instruction {
		text-align: center;
		margin: 4rem 0;
		dt, dd {
			color: #333;
			font-size: 1.5rem;
			display: inline-block;
			vertical-align: middle;
			text-align: left;
		}
		dt {
			width: 60px;
			margin-right: 10px;
			img {
				border-radius: 50%;
			}
		}
	}
	.forget-box {
		margin: 2.8rem 2.8rem 0;
	}
	.list {
		.item {
			border: solid 1px #ccc;
			border-radius: 4px;
			min-height: auto;
			margin-bottom: 20px;
			.item-inner {
				border: none;
			}
		}
		input {
			&::-webkit-input-placeholder {
				color: #999;
				font-size: 1.5rem;
			}
			&:-moz-placeholder{ 
				color: #999;
				font-size: 1.5rem;
			}
			&::-moz-placeholder{ 
				color: #999;
				font-size: 1.5rem;
			}
			&:-ms-input-placeholder{ 
				color: #999;
				font-size: 1.5rem;
			}
		}
  }
}