<ion-header>
  <ion-navbar>
    <ion-title text-center>提现记录</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="loading-wrapper" *ngIf="isLoadingShow">
    <div>
      <ion-spinner item-start [name]="load.spinner"></ion-spinner>
    </div>
    <div [innerHTML]="load.content"></div>
  </div>
  <ion-refresher *ngIf="!isLoadingShow" (ionRefresh)="pullRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="withdraw-record">
    <div class="withdraw-total" *ngIf="withdrawAmount > 0">
      提现总计：￥ {{ withdrawAmount }}
    </div>
  </div>
  <div class="record-list">
    <div class="withdraw-item" *ngFor="let item of withdrawList; let i = index">
      <ul>
        <li class="money">
          提现金额：￥{{ item.realAmount }}
        </li>
        <li class='date'>
          提现日期：{{ item.createTime | date:'yyyy.MM.dd' }}
          <span [ngClass]="{status:true, fail: !(item.status | setWithdrawStatus).pass, pass: (item.status | setWithdrawStatus).pass }">{{ (item.status | setWithdrawStatus).status }}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="no-data" *ngIf="isEmpty">
    <img src="./assets/image/nodata.png" alt="">
    <p>空空如也</p>
  </div>
  <div class="btn-noMore" *ngIf="withdrawList.length !== 0 && withdrawList.length === count">
    <span>—— 没有更多信息了 ——</span>
  </div>
  <div class="request-defeat" *ngIf="requestFail">
    <img src="./assets/image/requestDefeat.png" alt="">
    <p>啊哦！页面走丢了</p>
    <button class="btn-request-defeat" ion-button full (touchstart)="refresh()">
      刷新再找一找
    </button>
  </div>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)" *ngIf="withdrawList.length < count">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载中">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>