forget {
  .btn-forget {
		background: #5e9efe;
  }
  .content {
		background: #fff;
  }
  .forget-box {
		margin: 2.8rem 2.8rem 0;
  }
  .list {
		.item {
			border: solid 1px #ccc;
			border-radius: 4px;
			min-height: auto;
			margin-bottom: 20px;
			.item-inner {
				border: none;
			}
		}
		.img-validate,
		.msg-validate {
			border: none;
			width: 72px;
			height: 27px;
			padding: 0;
			margin: 0;
			position: relative;
			float: right;
			margin: -55px 2px 0 0;
			.item-inner {
				padding: 0;
				.label {
					margin: 0;
				}
	  	}
		}
		.msg-validate {
			width: 98px;
			height: 32px;
			margin: -58px 5px 0 0;
			.button {
				height: 32px;
				margin: 0;
			}
		}
		.img-input,
		.msg-input {
			.item-inner {
				padding-right: 80px;
			}
		}
		.msg-input {
			.item-inner {
				padding-right: 120px;
			}
		}
		input {
			&::-webkit-input-placeholder {
				color: #999;
				font-size: 1.5rem;
			}
			&:-moz-placeholder{ 
				color: #999;
				font-size: 1.5rem;
			}
			&::-moz-placeholder{ 
				color: #999;
				font-size: 1.5rem;
			}
			&:-ms-input-placeholder{ 
				color: #999;
				font-size: 1.5rem;
			}
		}
  }
}