order-store {
	input[type=number],
	input[type=text]{
		-webkit-appearance:none;
		outline:none
	}
  .list {
		margin: 0;
		.item-wrapper {
			overflow: auto;
			.item-inner {
			padding-right: 10px;
			}
		}
		ion-item-options {
			border-bottom-color: #f0f0f0;
		}
		.item {
			border-bottom: solid 5px #f0f0f0;
			padding: 0 0 50px 10px;
			position: relative;
			width: auto;
			ion-thumbnail {
				width: 100px;
				height: 100px;
				margin-right: 10px;
				img {
					width: 100%;
					height: 100%;
				}
			}
			.label-md,
			.label-ios {
				margin: 0;
			}
			.item-inner {
				border-bottom: none;
			}
		}
		.label {
			h2 {
				font-size: 1.5rem;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		.btn-delete {
			padding: 0 40px;
		}
  }
  .list-ios > .item-block:last-child, 
  .list-ios > .item-wrapper:last-child .item-block {
		border-color: #f0f0f0;
  }
  .count {
		position: relative;
		height: 30px;
		margin: 10px 0;
		.btn-add, .btn-remove {
			border-radius: 4px;
			background: #5e9efe;
			color: #fff;
			font-size: 3rem;
			font-weight: normal;
			display: block;
			width: 30px;
			height: 30px;
			line-height: 30px;
			text-align: center;
			position: absolute;
			top: 0;
		}
		.btn-add {
			right: 0;
		}
		.add-count {
			margin: 0 31px;
			input {
			width: 100%;
			border-radius: 4px;
			border: solid 1px #ccc;
			height: 30px;
			text-align: center;
			}
		}
		.changeGray {
			background: #ccc;
		}
  }
  .total {
		border: solid 1px #ccc;
		border-radius: 4px;
		height: 30px;
		line-height: 30px;
		font-size: 1.5rem;
		position: relative;
		.total-text {
			color: #999;
			font-size: 1.2rem;
			position: absolute;
			width: 80px;
			text-align: center;
		}
		.total-input {
			color: #333;
			margin-left: 80px;
		}
		input {
			background: none;
			border: none;
			height: 26px;
			line-height: 20px;
			width: 86%;
			padding-right: 10%;
			text-align: right;
		}
  }
  .btn-confirm {
		margin: 30px 1rem;
		margin-top: 0;
		width:-moz-calc(100% - 2rem); 
		width:-webkit-calc(100% - 2rem);
		width: calc(100% - 2rem);
		border-radius: 4px;
		font-size: 1.4rem;
		height: 4rem;
		span {
			font-size: 1.2rem;
			display: block;
			line-height: 1.4rem;
			padding-top: 0.1rem;
		}
		.confirm {
			font-size: 1.5rem;
			padding-top: 0.5rem;
		}
  }
  .remark {
		border-top: solid 1px #f0f0f0;
		margin: 0 10px;
		padding-top: 10px;
		position: absolute;
		left: 0;
		bottom: 9px;
		width:-moz-calc(100% - 10px); 
		width:-webkit-calc(100% - 10px);
		width: calc(100% - 10px);
		input {
			color: #989898;
			font-size: 1.4rem;
			width:-moz-calc(100% - 10px); 
			width:-webkit-calc(100% - 10px);
			width: calc(100% - 10px);
			border-radius: 4px;
			border: solid 1px #ccc;
			height: 30px;
			padding: 0 8px;
			&::-webkit-input-placeholder {
				color: #999;
				font-size: 1.2rem;
			}
			&:-moz-placeholder{ 
				color: #999;
				font-size: 1.2rem;
			}
			&::-moz-placeholder{ 
				color: #999;
				font-size: 1.2rem;
			}
			&:-ms-input-placeholder{ 
				color: #999;
				font-size: 1.2rem;
			}
		}
  }
}