<ion-header>
  <ion-navbar>
    <ion-title text-center>配单仓</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

  <!-- <ion-refresher (ionRefresh)="refreshGetUnhandleSelfGiftList($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher> -->

  <ion-list>
    <ion-item-sliding #item *ngFor="let single of orderStoreDataArray;let i = index">
      <ion-item>
        <ion-thumbnail item-start>
          <img [src]="single.productSkuDTO.attrValueList[0].fileSeq" alt="产品">
        </ion-thumbnail>
        <h2>{{single.productSkuDTO.productName}}</h2>
        <div class="count">
          <span class="btn-add" (touchstart)="addCount(i)">+</span>
          <span class="btn-remove" [ngClass]="{changeGray: single.productNum | changeGray}" (touchstart)="removeCount(i)">-</span>
          <div class="add-count">
            <input  (blur)="resetCount()" [(ngModel)]="single.productNum"  type="number">
          </div>
        </div>
        <div class="total">
            <div class="total-text">商品总额</div>
            <div class="total-input">
              <input (blur)="resetCount()" [(ngModel)]="single.itemPrice"  type="number">
            </div>
        </div>
        <div class="remark">
          <input placeholder="备注一下商品信息吧"  type="text" [(ngModel)]="single.remark">
        </div>
      </ion-item>
      
      <ion-item-options side="right">
        <button class="btn-delete" ion-button color="danger" (click)="delete(item)">
          <ion-icon name="trash"></ion-icon>
          删除
        </button>
      </ion-item-options>
    </ion-item-sliding>
    
  </ion-list>

  <div class="no-data" *ngIf = "false"><!-- noData -->
		<img src="../../assets/image/nodata.png" alt="">
		<p>空空如也</p>
	</div>
	<div class="btn-noMore" *ngIf = "showNoMoreGift">
		<span>—— 没有更多赠品了 ——</span>
	</div>
  <!-- <ion-infinite-scroll (ionInfinite)="infiniteGetUnhandleSelfGiftList($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
  
  <button class="btn-confirm" ion-button full (touchstart)="addProductModal()">
    <span class="confirm">确认订单</span>
    <span>（总额：￥1098）</span>
  </button>

</ion-content>


        
