handle-expressgift {
  .back-button {
		display: block;
  }
  .gift-list {
		background: #fff;
		.gift-item {
			border-top: solid 5px #f0f0f0;
			dl {
				border-bottom: dashed 1px #f0f0f0;
				padding: 1rem 1rem 1rem 0;
				margin-left: 1rem;
				&::after {
					content: '';
					display: block;
					clear: both;
				}
			}
			dt {
				max-width: 80px;
				float: left;
				margin-right: 8px;
				img {
					display: block;
				}
			}
			dd {
				color: #5e9efe;
				position: relative;
				font-size: 1.2rem;
				height: 16px;
				line-height: 16px;
				h2 {
					font-size: 1.4rem;
					color: #333;
				}
			}
			.product-title {
				span {
					position: absolute;
					right: 0;
					top: 0;
					font-size: 12px;
				}
				.unstart {
					color: #ff384f;
				}
				.success {
					color: #5ad112;
				}
			}
			.reserve-phone {
				position: relative;
				a {
					position: absolute;
					top: 10px;
					right: 0;
					display: block;
					width: 32px;
					height: 32px;
					img {
						max-width: 100%;
					}
				}
			}
			.get-time {
				color: #999;
			}
			.reserve-time {
				background: #fff;
				padding: 1rem 1rem 1rem 0;
				margin-left: 1rem;
				position: relative;
				.btn-time {
					position: absolute;
					width: 80px;
					height: 3.334rem;
					right: 1rem;
					top: 1rem;
				}
				.button {
					height: 3.334rem;
					max-width: 100%
				}
				.text-input, .button {
					margin: 0;
					height: 3.334rem;
					font-size: 1.5rem;
				}
				.time-text {
					margin-right: 100px;
				}
				.text-input{
					border: solid 1px #ccc;
					border-radius: 1.667rem;
					color: #333;
					padding: 0 4%;
					width: 100%;
				}
				.show-time {
					color: #999;
				}
			}
			.member-box {
				border-bottom: dashed 1px #f0f0f0;
			}
			.member-info {
				color: #999;
			}
		}
	}
	.btn-selfview {
		text-align: center;
		padding: 2rem 0;
		span {
			font-size: 1.5rem;
			color: #999;
			text-decoration: underline;
		}
	}
	.btn-noMore {
		margin: 2rem;
	}
}
ion-alert.alert-top {
  .alert-wrapper {
		background: #fff;
		.alert-input-group {
			padding: 0 24px 11px;
		}
		.alert-input {
			margin: 0 0 10px;
			height: 30px;
			border-radius: 4px;
			border: solid 1px #ccc; 
			padding: 6px;
			font-size: 1.2rem;
		}
  }
}