<ion-header>
  <ion-navbar>
    <ion-title text-center>已兑换自提赠品</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

<div class="gift-list">
  <div class="gift-item" *ngFor = "let item of handleExpressGiftArray">
		<dl>
			<dt><img src="{{item.imgUrl}}" alt=""></dt>
			<dd class="product-title">
				<h2>{{item.name}}</h2>
				<!-- success unstart -->
				<span class="unstart">立即兑换</span>
			</dd>
			<dd class="reserve-phone">
				<span>会员手机：{{item.memberPhone}}</span>
			</dd>
			<dd class="get-time">领取时间：{{item.getTime}}</dd>
			<dd class="get-time" *ngIf = "item.subscribeState=='2'">兑换时间：{{item.subscribeTime}}</dd>
			<dd class="get-time" *ngIf = "item.subscribeState=='2'">导购员：{{item.shoppingGuideName}}</dd>
		</dl>
		<div class="reserve-time member-box">
			<div class="member-info">
				<ul>
				<li>家长姓名：{{item.patriarchName}}</li>
				<li>家长手机号：{{item.patriarchPhone}}</li>
				<li>宝宝姓名：{{item.babyName}}</li>
				<li>宝宝身高：{{item.babyHeight}}</li>
				<li>宝宝证件号：{{item.babyIDNumber}}</li>
				</ul>
			</div>
		</div>
		<div class="reserve-time">
			<div class="show-time">备注信息：{{item.remarkInfo}}</div>
		</div>
  </div>

</div>

</ion-content>
