order-list { 
  .brandshop-order {
		color: #fff;
		position: absolute;
		right: 1rem;
		bottom: 1rem;
  }
  .order-title {
		background: #fff;
		border-bottom: solid 1px #f5f5f5;
		line-height: 44px;
		height: 44px;
		position: relative;
		padding: 0 1rem 0;
		h2 {
			color: #999;
			font-size: 1.5rem;
			line-height: 44px;
			margin: 0 90px 0 0;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			span {
			font-weight: normal;
			}
		}
		.auditStatus {
			font-size: 1.5rem;
			color: #ff384f;
			position: absolute;
			right: 1rem;
			top: 0;
		}
		.auditing {
			color: #ff384f;
		}
		.pass {
			color: #35cf2f;
		}
  }
  .order-list {
		margin: 99px .8rem .8rem;
		.order-items {
			background: #fff;
			margin-top: .8rem;
		}
		.order-item {
			padding: 1rem 1rem 1rem 0;
			margin: 0 0 0 1rem;
			dl {
				position: relative;
				&::after {
					content: '';
					display: block;
					clear: both;
				}
			}
			dt {
				float: left;
				max-width: 80px;
				margin-right: 1rem;
				img {
					display: block;
					max-width: 100%;
				}
			}
			dd {
				color: #333;
				font-size: 1.5rem;
				line-height: 24px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.sku-list {
				color: #999;
				margin-top: 8px;
			}
			.count {
				position: absolute;
				bottom: 0;
				right: 0;
			}
			.price {
				color: #5e9efe;
			}
			.sku-list,
			.count {
				font-size: 1.2rem;
      }
		}
		.orderOperate {
      position: relative;
			padding: 10px 1rem;
			border-top: solid 1px #f5f5f5;
			dl {
				&::after {
					content: '';
					display: block;
					clear: both;
				}
				.button {
					margin: 5px 0 0;
					height: 3.2rem;
					width: 8rem;
				}
	  	}
			dt {
				float: right;
				margin-top: 8px;
				img {
					max-width: 32px;
				}
			}
			dd {
				color: #333;
				font-size: 1.5rem;
				line-height: 24px;
			}
			.member-phone {
				color: #999;
      }
      button {
        position: absolute;
        width: 8rem;
        height: 3rem;
        right: 1rem;
        bottom: .8rem;
        background-color: #5e9efe!important;
      }
		}
		.order-dtail-box {
			position: relative;
			padding: 1rem 1rem 1.5rem;
			min-height: 60px;
			border-top: solid 1px #f5f5f5;
		}
		.pay-money,
		.btn-show {
			color: #999;
			position: absolute;
			.icon-triangle {
				position: absolute;
				display: block;
				width: 0;
				height: 0;
				top: 25px;
				right: 2.6rem;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-top: 8px solid #999;
			}
			.icon-bottom {
				border-top: 0;
				border-bottom: 8px solid #999;
			}
		}
		.pay-money {
			text-align: right;
			right: 1rem;
			bottom: .4rem;
			font-size: 1.2rem;
			span {
        display: block;
        font-size: 2.4rem;
        color: #5e9efe;
			}
    }
    .pay-money-left {
			text-align: left;
			left: 1rem;
			bottom: .4rem;
			font-size: 1.2rem;
			span {
        display: block;
        font-size: 2.4rem;
        color: #5e9efe;
			}
		}
		.btn-show {
			left: 1rem;
			bottom: 0;
			text-decoration: underline;
			height: 60px;
			line-height: 60px;
			padding-right: 4rem;
		}
		.order-detail {
			color: #999;
			padding-bottom: 3rem;
		}
  }
  // 固定时间
  .filter-box {
		position: fixed;
		top: 44px;
		left: 0;
		width: 100%;
		padding: 0;
		.toolbar-background {
			background: #fff;
			border-bottom: solid 1px #f5f5f5;
		}
		.toolbar-content {
			line-height: 44px;
			padding: 0;
			color: #333;
			position: static;
		}
		.search-title {
			width: 60px;
			position: absolute;
			left: 1rem;
		}
		.search-list {
			margin-left: 60px; 
			.time-start,
			.time-end {
				width:-moz-calc(50% - 10px); 
				width:-webkit-calc(50% - 10px);
				width: calc(50% - 10px); 
				float: left;
				position: relative;
				margin-top: 5px;
			}
			.datetime {
				padding: 0;
			}
			.datetime-text {
				background: #fff;
				height: 32px;
				line-height: 32px;
				border: solid 1px #ccc;
				border-radius: 16px;
				width: 100%;
				display: block;
				color: #5e9eff;
				padding: 0 1rem;
			}
			.go {
				width: 20px;
				display: block;
				float: left;
				text-align: center;
				line-height: 32px;
				margin-top: 5px;
			}
			.clear {
				position: absolute;
				right: 0;
				top: 0;
				line-height: 32px;
				padding: 0 10px;
				color: #999;
			}
		}
		.time-box,
		.status-box {
			padding: 0 .8rem;
		}
		.status-box {
			border-top: solid 1px #f5f5f5;
			margin-top: 44px;
			ul {
				display: -webkit-box;
				display: -webkit-flex;
				display: -ms-flexbox;
				li {
					color: #999;
					-webkit-box-flex: 1;
					-webkit-flex: 1;
					-ms-flex: 1;
					flex: 1;
					text-align: center;
				}
				.active {
					border-bottom: solid 4px #5e9efe;
					color: #5e9efe;
				}
			}
		}
  }
  .filter-box.toolbar-ios {
    top: 34px + $cordova-ios-statusbar-padding!important;
    height: 9rem;
  }
}
.has-refresher > .scroll-content {
  border-top: 0;
}
