<ion-content>
	<div class="layer-out" (touchstart)="dismiss()"></div>
	<div class="sku-box">
		<ion-list>
		  <ion-item>
		    <ion-thumbnail item-start>
		      <img [src]="product.imageName">
		    </ion-thumbnail>
		    <h2>{{ product.name }}</h2>
		  </ion-item>
		</ion-list>

		<div class="sku-list">
			<div class="sku-attr">
				<div class="sku-key">尺码</div>
				<div class="sku-value">
					<label [ngClass]="{active: skuSize === size}" *ngFor="let size of SizeList">
						<input [(ngModel)]="skuSize" name="Fruit" type="radio" [value]="size" />{{ size }} 
					</label> 
				</div>
			</div>
			
			<div class="sku-attr">
				<div class="sku-key">颜色</div>
				<div class="sku-value">
					<label [ngClass]="{active: skuColor === color}" *ngFor="let color of ColorList">
						<input [(ngModel)]="skuColor" name="Fruit" type="radio" [value]="color" />{{ color }} 
					</label> 
				</div>
			</div>
			
			<div class="sku-attr">
				<div class="sku-key">数量</div>
				<div class="sku-value count">
					<ion-icon class="icon-add" name="add" (touchstart)="addCount()"></ion-icon>
					<ion-icon class="icon-remove" name="remove" (touchstart)="removeCount()"></ion-icon>
					<div class="add-count">
						<ion-input (blur)="resetCount()" [(ngModel)]="count" type="number" clearInput=true></ion-input>
					</div>
				</div>
			</div>

			<button class="btn-add" ion-button full (click)="goOrderStore()">确认添加</button>

		</div>
	</div>
	
</ion-content>
