<ion-header>
  <ion-navbar>
    <ion-title text-center>已审核退货订单</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
	<div class="order-list">
		<div class="order-items" (click)="goReturnedDetail(i)" *ngFor = "let item of auditReturnorderArray;let i = index">
			<!-- 订单编号 -->
			<div class="order-title">
				<h2>订单编号：<span>{{item.orderId}}</span></h2>
				<!--color auditing or pass -->
				<span class="audit-status auditing" *ngIf = "item.unauditState=='3'">申请已拒绝</span> 
				<span class="audit-status auditing" *ngIf = "item.unauditState=='4'">客户已退货</span> 
				<span class="audit-status auditing" *ngIf = "item.unauditState=='5'">退款已完成</span> 
			</div>
			<!-- 商品1 -->
			<div class="order-item" *ngFor = "let single of item.basicData">
			  <dl>
			    <dt>
			      <img class="my-picture" src="{{single.imgUrl}}" alt="小裙子">
			    </dt>
			    <dd class="product-title">{{single.goodsName}}</dd>
			    <dd class="sku-list">
						<span>{{single.SKUSize}}</span>
						<span>{{single.SKUColor}}</span>
						<span>{{single.SKUType}}</span>
			    </dd>
			    <dd class='price'>￥{{single.unitPrice}}</dd>
			    <dd class="count">X{{single.number}}</dd>
			  </dl>
			</div>
			
			<div class="orderOprate">
				<dl>
					<dt>
						
					</dt>
					<dd class="total">退货数量: {{item.totleNumber}}</dd>
					<dd class="member-phone">会员手机：{{item.memberPhone}}</dd>
				</dl>
			</div>
		</div>
		
	</div>

</ion-content>
