add-account {
  .back-button {
		display: block;
	}
  .account-title {
    background: #fff;
		line-height: 46px;
		color: #333;
		text-align: center;
		.binded {
			color: #54c261;
			text-align: center;
			img {
				max-width: 37px;
				vertical-align: middle;
				margin-right: 10px;
			}
		}
  }
  .form-list {
		padding: 2rem 1rem 0;
		.item {
			border: solid 1px #ccc;
			border-radius: 4px;
			min-height: 42px;
			margin-bottom: 1.2rem;
		}
		.item-block {
			.item-inner {
				border: none;
				input {
					margin: 0;
					&::-webkit-input-placeholder {
						color: #999;
						font-size: 1.5rem;
					}
					&:-moz-placeholder{ 
						color: #999;
						font-size: 1.5rem;
					}
					&::-moz-placeholder{ 
						color: #999;
						font-size: 1.5rem;
					}
					&:-ms-input-placeholder{ 
						color: #999;
						font-size: 1.5rem;
					}
				}
			}
		}
  }
  .list-md .item-input.item-input-has-focus:last-child,
  .list-md .item-input.input-has-focus:last-child,
  .list-md .item-input:last-child {
		border: solid 1px #ccc;
  }
  .btn-bind {
		width: 100%;
		margin: 2.5rem 0 0;
		background: #5e9efe;
  }
  .message {
		color: #999;
		text-align: center;
		margin-top: .5rem;
	}
  .account-mesg {
    background: #fff;
    padding: 1rem;
    h2 {
      font-size: 1.6rem;
      line-height: 3rem;
    }
    p {
      color: #aeaeae;
      line-height: 2rem;
    }
  }
}