<ion-header>
  <ion-navbar>
    <ion-title text-center>收款账户</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- loading -->
  <div class="loading-wrapper" *ngIf="loadingShow">
    <div>
      <ion-spinner item-start [name]="load.spinner"></ion-spinner>
    </div>
    <div [innerHTML]="load.content"></div>
  </div>
  <div *ngIf="accountContent && boundWechat">
    <div class="account-title">
      <div class="binded">
        <img src="./assets/image/OK.png" alt="">已绑定微信</div>
    </div>
    <div class="form-list">
      <ion-list>
        <ion-item>
          <ion-input [(ngModel)]="salesName" placeholder="输入收款人姓名" required></ion-input>
        </ion-item>
        <div class='bind-error' *ngIf="isName">*请填写收款人</div>
        <ion-item>
          <ion-input type="tel" [(ngModel)]="cellphone" placeholder="输入收款人手机号码" maxlength=11 required></ion-input>
        </ion-item>
        <div class='bind-error' *ngIf="isPhone">*请输入正确的手机号</div>
        <ion-item>
          <ion-input [(ngModel)]="IDcard" placeholder="输入收款人身份证号" required></ion-input>
        </ion-item>
        <div class='bind-error' *ngIf="isIDCard">*请输入正确的身份证号</div>
      </ion-list>
      <button class="btn-bind" ion-button (click)="editCurrent()">确定</button>
    </div>
  </div>
  <div class="request-defeat" *ngIf="requestDefeat">
    <img src="./assets/image/requestDefeat.png" alt="">
    <p>啊哦！页面走丢了</p>
    <button class="btn-request-defeat" ion-button full (touchstart)="getCurrent()">
      刷新再找一找
    </button>
  </div>
  <div class="account-mesg" *ngIf="accountContent && !boundWechat">
    <h2>请先到微信公众号绑定收款账户</h2>
    <p>· 第一步：在微信内搜索公众号：淘璞帮</p>
    <p>· 第二步：关注并进入公众号绑定收款账户</p>
  </div>
</ion-content>