<ion-content>

	<div class="order-list">
		<div class="order-items" *ngFor = "let item of unauditCancelorderArray;let i = index">
			<!-- 订单编号 -->
			<div class="order-title">
				<h2>订单编号：<span>{{item.orderId}}</span></h2>
				<!--color auditing or pass -->
				<span class="audit-status auditing" *ngIf = "item.unauditState=='1'">申请审核中</span> 
			</div>

			<div class="order-item" *ngFor = "let single of item.basicData">
			  <dl>
			    <dt>
			      <img class="my-picture" src="{{single.imgUrl}}" alt="小裙子">
			    </dt>
			    <dd class="product-title">{{single.goodsName}}</dd>
			    <dd class="sku-list">
			      <span>{{single.SKUSize}}</span>
			      <span>{{single.SKUColor}}</span>
			      <span>{{single.SKUType}}</span>
			    </dd>
			    <dd class='price'>￥{{single.unitPrice}}</dd>
			    <dd class="count">X{{single.number}}</dd>
			  </dl>
			</div>
			
			<div class="orderOprate">
				<dl>
					<dt>
						<button class="btn-audit" ion-button (click)="auditOrder(i)">审核</button>
					</dt>
					<dd class="total">{{item.totleNumber}}件商品，实付￥{{item.totlePrice}}</dd>
					<dd class="member-phone">会员手机：{{item.memberPhone}}</dd>
				</dl>
			</div>
		</div>
		
		<div class="btn-cancelView" (touchstart)="goAuditCancel()">
			<span>查看已审核取消订单</span>
		</div>
	</div>

</ion-content>
