unhandle-tabs {
  .back-button {
	  display: block;
  }
  .statusBox .toolbar-background {
    background-color: white!important;
    padding: 0;
  }
  .statusBox.toolbar.toolbar-ios {
    padding: 0;
    height: 47px;
  }
  .statusBox {
    border-bottom: solid 1px #f5f5f5;
    ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      li {
        color: #5e9efe;
        line-height: 39px;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        text-align: center;
      }
      .active {
        border-bottom: solid 4px #5e9efe;
        color: #5e9efe;
      }
    }
  }
  .tabbar.show-tabbar {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .tabs-list {
    .tab-button-text {
      font-size: 1.5rem!important;
    }
    .tab-button {
      padding: 0;
      margin: 0 2rem;
    }
    .tab-button[aria-selected=true] {
      border-bottom: solid 4px #5e9eff;
      .tab-button-text {
        -webkit-transform: scale3d(1, 11, 1);
        transform: scale3d(1, 1, 1);
      }
    }
    .tab-button {
      min-height: 49px!important;
    }
  }
  .tabs-list[tabsPlacement=top] {
    .tabbar {
      border-bottom: solid 1px #f0f0f0;
    }
  }
  .selfGiftList {
    .gift-list {
      .gift-item {
        background: #fff;
        border-top: solid 5px #f0f0f0;
        dl {
          border-bottom: dashed 1px #f0f0f0;
          padding: 1rem 1rem 1rem 0;
          margin-left: 1rem;
          &::after {
            content: '';
            display: block;
            clear: both;
          }
        }
        dt {
          max-width: 80px;
          float: left;
          margin-right: 8px;
          img {
            display: block;
          }
        }
        dd {
          color: #5e9efe;
          position: relative;
          font-size: 1.2rem;
          height: 20px;
          line-height: 20px;
          h2 {
            font-size: 1.4rem;
            color: #333;
          }
        }
        .product-title {
          span {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 12px;
          }
          .unstart {
            color: #ff384f;
          }
          .success {
            color: #5ad112;
          }
          h2 {
            width: 200px;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
          }
        }
        .reserve-phone {
          position: relative;
          a {
            position: absolute;
            top: 5px;
            right: 0;
            display: block;
            width: 32px;
            height: 32px;
            z-index: 100;
            img {
              max-width: 100%;
            }
          }
        }
        .get-time {
          color: #999;
        }
        .reserve-time {
          background: #fff;
          padding: 1rem;
          position: relative;
          .btn-time {
            position: absolute;
            width: 100px;
            height: 3.334rem;
            right: 1rem;
            top: 1rem;
          }
          .button {
            height: 3.334rem;
            max-width: 100%
          }
          .text-input, .button {
            margin: 0;
            height: 3.334rem;
            font-size: 1.5rem;
          }
          .time-text {
            margin-right: 100px;
                      position: relative;
                      .datetime {
                          padding: 0;
                      }
                      .datetime-text {
                          background: #fff;
                          height: 3.334rem;
                          line-height: 3.334rem;
                          border: solid 1px #ccc;
                          border-radius: 1.667rem;
                          width: 100%;
                          display: block;
                          color: #999;
                          padding: 0 1rem;
                      }
                      .clear {
                          position: absolute;
                          right: 0;
                          top: 0;
                          line-height: 3.334rem;
                          padding: 0 10px;
                          color: #999;
                      }
          }
          .text-input{
            border: solid 1px #ccc;
            border-radius: 1.667rem;
            color: #333;
            padding: 0 4%;
            width: 100%;
          }
          .show-time {
            color: #333;
          }
        }
      }
    }
    .toTop {
      display: inline-block;
      position: fixed;
      right: 40px;
      bottom: 80px;
      width: 50px;
      height: 50px;
    }
  }
  .expressGiftList {
    .gift-list {
      .gift-item {
        background: #fff;
        border-top: solid 5px #f0f0f0;
        dl {
          border-bottom: dashed 1px #f0f0f0;
          padding: 1rem 1rem 1rem 0;
          margin-left: 1rem;
          &::after {
            content: '';
            display: block;
            clear: both;
          }
        }
        dt {
          max-width: 80px;
          float: left;
          margin-right: 8px;
          img {
            display: block;
          }
        }
        dd {
          color: #5e9efe;
          position: relative;
          font-size: 1.2rem;
          height: 20px;
          line-height: 20px;
          h2 {
            font-size: 1.4rem;
            color: #333;
          }
        }
        .product-title {
          span {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 12px;
          }
          .unstart {
            color: #ff384f;
          }
          .success {
            color: #5ad112;
          }
        }
        .reserve-phone {
          position: relative;
          a {
            position: absolute;
            top: 5px;
            right: 0;
            display: block;
            width: 32px;
            height: 32px;
            img {
              max-width: 100%;
            }
          }
        }
        .get-time {
          color: #999;
        }
        .reserve-time {
          background: #fff;
          padding: 1rem;
          position: relative;
          min-height: 60px;
          .btn-time {
            position: absolute;
            width: 80px;
            height: 3.334rem;
            right: 1rem;
            top: 1rem;
          }
          .button {
            height: 3.334rem;
            max-width: 100%
          }
          .text-input, .button {
            margin: 0;
            height: 3.334rem;
            font-size: 1.5rem;
          }
          .time-text {
            margin-right: 100px;
          }
          .text-input{
            border: solid 1px #ccc;
            border-radius: 1.667rem;
            color: #333;
            padding: 0 4%;
            width: 100%;
          }
          .show-time {
            color: #333;
          }
        }
        .member-info {
          color: #999;
        }
      }
    }
  }
  .btn-selfview {
    text-align: center;
    padding-top: 2rem;
    span {
      font-size: 1.5rem;
      color: #999;
      text-decoration: underline;
    }
  }
  .btn-noMore {
    margin: 1rem 0;
  }

}