help {
  .back-button {
    display: block;
  }
  .content {
    background: #fff;
  }
  .help {
	padding-bottom: 2rem;
	li {
	  padding: .5rem 1rem 0;
	  margin-top: 1rem;
	}
	h2 {
	  position: relative;
	  color: #5e9efe;
	  font-size: 1.5rem;
	  padding-left: 2.3rem;
	  span {
		position: absolute;
		left: 0;
	  }
  }
  h2.title {
    padding-left: 0.4rem;
  }
	p {
	  color: #333;
	  line-height: 20px;
	  margin-top: 10px;
	  padding: 0 0 0 2.4rem;
	}
  }
}