<ion-content>
  <div class="totle-money" *ngIf="isShow">总金额：{{ sum }}</div>
  <ul class="first-card" *ngFor = "let item of awardDetail">
    <li>
      订单编号：{{ item.relateId }}<span *ngIf = "item.status==1">已收货</span><span *ngIf = "item.status==2">已完成</span>
    </li>
    <li>
      结算基数：￥{{ item.baseAmount }}
    </li>
    <li>
      奖励比例：{{ item.percent }}
    </li>
    <li>
      奖励金额：￥{{ item.amount }}
    </li>
  </ul>
  <ion-infinite-scroll  (ionInfinite)="loadMore($event)" *ngIf="awardDetail.length < count">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="加载中">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>