// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ol,
ul,
li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
dl,
dt,
dd {
  margin: 0;
  }
p {
  margin: 0;
}
h2 {
  margin: 0;
}
.list-md .item-input.item-input-has-focus:last-child,
.list-md .item-input.input-has-focus:last-child,
.item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner,
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, 
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, 
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
  border-color: #ccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.content {
  background: #f0f0f0;
}
//顶部标题
.title-ios,
.title-md {
  padding: 0 75px!important;
  height: 100%!important;
}
.back-button {
  background: #5e9efe;
}
.back-button-icon-md {
  padding-left: 0;
}
//固定栏
.toolbar-content-md {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}
.back-button-md {
  position: relative;
  z-index: 100;
}
.toolbar-ios {
  padding: 2px 4px;
}
.toolbar-background-ios,
.toolbar-background-md {
  background: #5e9efe;
}
.toolbar-title-ios,
.toolbar-title-md,
.bar-button-default-md, 
.bar-button-clear-md-default, 
.bar-button-md-default,
.bar-button-default-ios, 
.bar-button-default.bar-button-ios-default, 
.bar-button-clear-ios-default {
  color: #fff;
  font-size: 1.7rem;
  font-weight: normal;
}
//选项卡tabs
.header-md::after, 
.tabs-md[tabsPlacement="top"] > .tabbar::after, 
.footer-md::before, 
.tabs-md[tabsPlacement="bottom"] > .tabbar::before {
  background: none;
}
.toolbar-md {
  min-height: 44px;
  font-size: 1.4rem;
}
//tabs
.tabs-ios {
  .tabbar {
    border: none;
  }
}
.tabbar.show-tabbar {
  background: #fff;
  -webkit-box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.22);
  box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.22);
}
.tabs-ios {
  .tab-button-icon {
  	height: 27px;
  }
}
.tabs-md {
  .tab-button {
  	min-height: 49px;
  }
}
//安卓按钮
.button-md {
  -webkit-box-shadow: none;
  box-shadow: none;
}
//弹出层
.alert-ios {
  .alert-button {
    span {
      font-size: 1.4rem;
      font-weight: normal;
    }
  }
  .alert-message {
  	color: #333;
	font-size: 1.5rem;
  }
}
.alert-md {
  .alert-wrapper {
  	border-radius: 13px;
  	-webkit-box-shadow: none;
  	box-shadow: none;
  }
  .alert-head {
  	padding: 12px 16px 7px;
  }
  .alert-message {
  	color: #333;
  	font-size: 1.5rem;
  	text-align: center;
  }
  .alert-message,
  .alert-input-group {
  	padding: 0 24px 21px;
  }
  .alert-button-group {
  	padding: 0;
	.alert-button {
	  margin: 0;
	  border-radius: 0;
	  overflow: hidden;
	  -webkit-box-flex: 1;
	  -webkit-flex: 1 1 auto;
	  -ms-flex: 1 1 auto;
	  flex: 1 1 auto;
	  min-width: 50%;
	  height: 44px;
	  border-top: 0.55px solid #dbdbdf;
	  border-right: 0.55px solid #dbdbdf;
	  font-size: 17px;
	  color: #488aff;
	  background-color: transparent;
	  span {
	  	text-align: center;
	  	display: block;
	  	font-size: 1.4rem;
	  }
	}
	.alert-button:last-child {
	  border-right: none;
	}
  }
}
.btn-noMore {
  text-align: center;
  line-height: 42px;
  span {
    font-size: 1.2rem;
    color: #999;
  }
}
.no-data {
  margin: 0 auto;
  text-align: center;
  img {
    display: inline-block;
    width: 10rem;
    height: 10rem;
  }
  p {
    color: #999;
  }
}
.loading-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -77px;
  opacity: 1;
  font-weight: bold;
  color: #000;
  max-width: 270px;
  max-height: 90%;
  border-radius: 8px;
  padding: 24px 34px;
  background: #f8f8f8;
  div:nth-child(2) {
    margin-left: 16px;
  }
}
ion-loading {
  .loading-wrapper {
    margin-top: -40px;
    margin-left: -83.1px;
  }
}
.toast-wrapper {
  background: rgba(0, 0, 0, 0.65)!important;
  left: 50%!important;
  right: auto !important;
  line-height: 3rem;
  border-radius: 1.5rem!important;
  width: auto !important;
  padding: 0 1.5rem;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  .toast-message {
    padding: 0;
    font-size: 1.2rem;
  }
}
.toast-wrapper, 
.toast-wrapper div {
  display: inline!important;
}
.request-defeat {
  margin: 0 auto 5rem;
  text-align: center;
  img {
    display: inline-block;
    width: 20rem;
    height: 20rem;
  }
  p {
    color: #999;
  }
  .btn-request-defeat {
    margin: 5rem 1rem;
    border-radius: 4px;
    width:-moz-calc(100% - 2rem); 
		width:-webkit-calc(100% - 2rem);
		width: calc(100% - 2rem);
  }
}
.header-title-hidden {
  display: none;
}
@media only screen and (min-height: 600px) and (min-width: 768px) {
  .modal-wrapper {
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 0 !important;
  }
}
.toolbar-ios {
  height: 34px + $cordova-ios-statusbar-padding;
  padding-top: $cordova-ios-statusbar-padding;
}
.toolbar-title-ios {
  padding-top: $cordova-ios-statusbar-padding;
}

