<ion-header>
  <ion-navbar>
    <ion-title text-center>订单信息</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngIf="orderDetail.orderSeq">
    <div class="order-title">
      <img class="my-picture" src="./assets/image/store.png" alt="店铺">
      <h2>{{ orderDetail.brandshopName }}</h2>
      <span>{{ orderDetail.orderId }}</span>
    </div>
    <div class="order-list">
      <div class="order-item" *ngFor="let product of orderDetail.orderItemProductSkuDTOS">
        <dl>
          <dt>
            <img class="my-picture" [src]="product.productSkuDTO.fileSeq | productSkuDTOImage" alt="小裙子">
          </dt>
          <dd class="product-title">{{ product.productSkuDTO.productName }}</dd>
          <dd class="sku-list">
            <span *ngFor="let sku of product.productSkuDTO.attrValueList">{{ sku.attrValue }}</span>
          </dd>
          <dd class='price'>{{ product.unitPrice }}</dd>
          <dd class="count">X {{ product.number }}</dd>
        </dl>
      </div>
    </div>
    <button class="btn-confirm" ion-button (click)="presentConfirm()" *ngIf="orderDetail.status=='1'">确认提货</button>
  </div>
</ion-content>