order-info {
  .back-button {
		display: block;
  }
  .order-title {
		background: #fff;
		line-height: 44px;
		height: 44px;
		position: relative;
		h2 {
			font-size: 1.5rem;
			line-height: 44px;
			margin: 0 120px 0 40px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		img {
			width: 20px;
			position: absolute;
			left: 1rem;
			top: 1rem;
		}
		span {
			position: absolute;
			right: 1rem;
			top: 0;
		}
  }
  .order-list {
		background: #fff;
		margin-top: 1px;
		.order-item {
			padding: 1rem 1rem 1rem 0;
			margin: 1px 0 0 1rem;
			border-bottom: solid 1px #f5f5f5;
			dl {
				position: relative;
				&::after {
					content: '';
					display: block;
					clear: both;
				}
			}
			dt {
				float: left;
				max-width: 80px;
				width: 80px;
				height: 80px;
				margin-right: 1rem;
				img {
					display: block;
					width: 100%;
          height: 80px;
				}
	  	}
			dd {
				color: #333;
				font-size: 1.5rem;
				line-height: 24px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.sku-list {
				color: #999;
				margin-top: 8px;
				span {
					margin-right: 5px;
				}
			}
			.count {
				position: absolute;
				bottom: 0;
				right: 0;
			}
			.price {
			color: #5e9efe;
			}
			.sku-list,
			.count {
			font-size: 1.2rem;
			}
		}
  }
  .btn-confirm {
		background: #5e9efe;
		width:-moz-calc(100% - 2rem); 
		width:-webkit-calc(100% - 2rem);
		width: calc(100% - 2rem); 
		margin: 2rem 1rem;
  }
	
}