<ion-header>
  <ion-navbar>
    <ion-title text-center>退货详情</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
	<div class="order-list">
		<div class="order-items">
			<!-- 订单编号 -->
			<div class="order-title">
				<h2>订单编号：<span>{{returnDetail.orderReturn.returnOrderId}}</span></h2>
				<!--color auditing or pass -->
				<span class="auditStatus">申请审核中</span>
			</div>
			<!-- 商品1 -->
			<div class="order-item">
			  <dl>
			    <dt>
			      <img class="my-picture" [src]="returnDetail.itemProductSkuDTO.productSkuDTO.fileSeq | productSkuDTOImage" [alt]="returnDetail.itemProductSkuDTO.productSkuDTO.productName">
			    </dt>
			    <dd class="product-title">{{returnDetail.itemProductSkuDTO.productSkuDTO.productName}}</dd>
			    <dd class="sku-list">
            <!-- <span>{{returnDetail.itemProductSkuDTO.productSkuDTO.attrValueList}}</span> -->
			      <span *ngFor="let sku of returnDetail.itemProductSkuDTO.productSkuDTO.attrValueList"> {{sku.attrValue}} </span>
			    </dd>
			    <dd class='price'>￥{{returnDetail.itemProductSkuDTO.unitPrice}}</dd>
			    <dd class="count">X{{returnDetail.itemProductSkuDTO.number}}</dd>
			  </dl>
			</div>
			
			<div class="orderOperate">
				<dl>
					<dt>
					</dt>
					<dd class="total">共{{returnDetail.orderReturn.number}}件商品，实付￥{{returnDetail.orderReturn.totalReturnPrice}}</dd>
				</dl>
			</div>
		</div>

		<div class="return-detail">
			<ul>
				<li>退货数量：{{returnDetail.orderReturn.number}}</li>
				<li>联系方式：{{returnDetail.orderReturn.mobile}}</li> 
				<li>退货方式：{{returnDetail.orderReturn.returnType==1?'其他': '快递'}}</li>
				<li>是否有发票：{{returnDetail.orderReturn.invoiced==1?'有': '无'}}</li>
				<li>退货原因：{{returnDetail.orderReturn.returnReason}}</li>
				<li>问题描述：{{returnDetail.orderReturn.detail}}</li>
				<li class="img-list" *ngIf = "imageArray">
					<img src="http://www.91topbaby.com/evercos/common/file/content/{{itemImg}}" alt="" *ngFor = "let itemImg of imageArray">
				</li>
			</ul>
		</div>
	</div>

	<div class="btn-list">
		<button class="btn-update" ion-button outline (touchstart)="refuseReturn()">拒绝</button>
		<button class="order-again" ion-button (touchstart)="agreeReturn()">同意</button>
	</div>

</ion-content>
