<ion-header>
  <ion-navbar>
    <ion-title text-center>退货详情</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
	<div class="order-list">
		<div class="order-items">
			<!-- 订单编号 -->
			<div class="order-title">
				<h2>订单编号：<span>{{returnDetail[0].orderId}}</span></h2>
				<!--color auditing or pass -->
				<span class="audit-status auditing">申请审核中</span> 
			</div>
			<!-- 商品1 -->
			<div class="order-item" *ngFor = "let single of returnDetail[0].basicData">
			  <dl>
			    <dt>
			      <img class="my-picture" src="{{single.imgUrl}}" alt="小裙子">
			    </dt>
			    <dd class="product-title">{{single.goodsName}}</dd>
			    <dd class="sku-list">
			      <span>{{single.SKUSize}}</span>
			      <span>{{single.SKUColor}}</span>
			      <span>{{single.SKUType}}</span>
			    </dd>
			    <dd class='price'>￥{{single.unitPrice}}</dd>
			    <dd class="count">X{{single.number}}</dd>
			  </dl>
			</div>
			
			<div class="orderOprate">
				<dl>
					<dt>
						
					</dt>
					<dd class="total">{{returnDetail[0].totleNumber}}件商品，实付￥{{returnDetail[0].totlePrice}}</dd>
					<dd class="member-phone">会员手机：{{returnDetail[0].memberPhone}}</dd>
				</dl>
			</div>
		</div>

		<div class="return-detail">
			<ul>
				<li>退货数量：{{returnDetail[0].returnNumber}}</li>
				<li>联系方式：{{returnDetail[0].contactWay}}</li>
				<li>退货方式：{{returnDetail[0].returnWay}}</li>
				<li>是否有发票：{{returnDetail[0].hasInvoice}}</li>
				<li>退货原因：{{returnDetail[0].returnReason}}</li>
				<li>问题描述：{{returnDetail[0].problemDescription}}</li>
				<li class="img-list">
					<img src="{{itemImg}}" alt="" *ngFor = "let itemImg of returnDetail[0].detailImg">
				</li>
			</ul>
		</div>
	</div>

	<div class="btn-list">
		<button class="btn-update" ion-button outline (touchstart)="refuseReturn()">拒绝</button>
		<button class="order-again" ion-button (touchstart)="agreeReturn()">同意</button>
	</div>

</ion-content>
