audit-cancelorder {
  .back-button {
		display: block;
  }
  .order-title {
		background: #fff;
		border-bottom: solid 1px #f5f5f5;
		line-height: 44px;
		height: 44px;
		position: relative;
		padding: 0 1rem 0;
		h2 {
			color: #999;
			font-size: 1.5rem;
			line-height: 44px;
			margin: 0 90px 0 0;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			span {
				font-weight: normal;
			}
		}
		.audit-status {
			font-size: 1.5rem;
			position: absolute;
			right: 1rem;
			top: 0;
		}
		.auditing {
			color: #ff384f;
		}
		.pass {
			color: #35cf2f;
		}
  }
  .order-list {
		margin: 0 .8rem 2.4rem;
		.order-items {
			background: #fff;
			margin-top: .8rem;
		}
		.order-item {
			padding: 1rem 1rem 1rem 0;
			margin: 0 0 0 1rem;
			dl {
				position: relative;
				&::after {
					content: '';
					display: block;
					clear: both;
				}
			}
			dt {
				float: left;
				max-width: 80px;
				margin-right: 1rem;
				img {
					display: block;
					max-width: 100%;
				}
			}
			dd {
				color: #333;
				font-size: 1.5rem;
				line-height: 24px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.sku-list {
				color: #999;
				margin-top: 8px;
			}
			.count {
				position: absolute;
				bottom: 0;
				right: 0;
			}
			.price {
				color: #5e9efe;
			}
			.sku-list,
			.count {
				font-size: 1.2rem;
			}
		}
		.orderOprate {
			padding: 10px 1rem;
			border-top: solid 1px #f5f5f5;
			dl {
				&::after {
					content: '';
					display: block;
					clear: both;
				}
				.button {
					margin: 5px 0 0;
					height: 3.2rem;
					width: 8rem;
				}
			}
			dt {
				float: right;
			}
			dd {
				color: #333;
				font-size: 1.5rem;
				line-height: 24px;
			}
			.member-phone {
				color: #999;
			}
		}
		.btn-cancelView {
			color: #999;
			font-size: 1.5rem;
			text-align: center;
			padding-top: 2rem;
			span {
				text-decoration: underline;
			}
    }
    .no-data {
      margin: 0 auto;
      text-align: center;
      img {
        display: inline-block;
        width: 10rem;
        height: 10rem;
      }
      p {
        color: #999;
      }
    }
  }
}