<ion-header>
  <ion-navbar>
    <ion-title text-center>已审核取消订单</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
	<div class="order-list">
		<div class="order-items" *ngFor = "let item of audutCancelorderArray;let i = index">
			<!-- 订单编号 -->
			<div class="order-title">
				<h2>订单编号：<span>{{item.orderId}}</span></h2>
				<!--color auditing or pass -->
				<span class="audit-status pass" *ngIf = "item.unauditState=='2'">申请已通过</span> 
				<span class="audit-status auditing" *ngIf = "item.unauditState=='3'">审核已拒绝</span> 
			</div>
			<!-- 商品1 -->
			<div class="order-item" *ngFor = "let single of item.basicData">
			  <dl>
			    <dt>
			      <img class="my-picture" src="{{single.imgUrl}}" alt="小裙子">
			    </dt>
			    <dd class="product-title">{{single.goodsName}}</dd>
			    <dd class="sku-list">
			      <span>{{single.SKUSize}}</span>
			      <span>{{single.SKUColor}}</span>
			      <span>{{single.SKUType}}</span>
			    </dd>
			    <dd class='price'>￥{{single.unitPrice}}</dd>
			    <dd class="count">X{{single.number}}</dd>
			  </dl>
			</div>
		</div>

	</div>

</ion-content>
