award-activity {
		.back-button {
		display: block;
  }
  .withdraw-record {
		color: #333;
		font-size: 1.5rem;
  }
  .withdraw-total {
		line-height: 46px;
		padding: 0 1rem;
	}
	.record-list {
		padding: 0 1rem;
	}
  .withdraw-item {
		background: #fff;
		line-height: 24px;
		margin-bottom: 5px;
		padding: 12px 1rem;
		position: relative;
		.money {
			color: #5e9efe;
		}
		.order-number,
		.date {
			color: #999;
		}
		.order-number span{
			float: right;
			color: #96dd91;
			margin-right: 1rem;
		}
    }
}