<ion-content>
  <div class="withdraw-record">
    <div class="withdraw-total">
        <span *ngIf="isShow">总金额：￥ {{ sum }}</span>
    </div>
    <div class="record-list">

      <div class="withdraw-item" *ngFor = "let item of awardActivity">
        <ul>
          <li class='order-number'>会员手机：{{ item.mobile }}</li>
          <li class='date'>活动时间：{{ item.startTime | date:'yyyy.MM.dd' }}</li>
          <li class='base-number'>结算基数：￥{{ item.baseAmount }}</li>
          <li class='percentage'>奖励比例：{{ item.percent }}</li>
          <li class="money">奖励金额：￥{{ item.amount }}</li>
        </ul>
      </div>
      
    </div>
  </div>
  <ion-infinite-scroll  (ionInfinite)="loadMore($event)" *ngIf="awardActivity.length < count">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="加载中">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
