personl {
	ol,ul,li {
		list-style: none;
		list-style-image: none;
		margin: 0;
		padding: 0;
	}
	.person-header {
		background: #5e9efe;
		padding: 1.4rem 1rem;
		.my-picture {
			border-radius: 50%;
			border: solid 0.3rem #fff;
			display: block;
			margin: 0 auto;
			max-width: 84px;
			width: 82%;
		}
		h2 {
			color: #fff;
			font-size: 2.4rem;
			margin: .5rem 0 .4rem 1rem;
		}
		.button {
			font-size: 1.5rem;
			color: #fff;
			border-color: #fff;
			height: 3rem;
			padding: 0 1.4rem;
			margin-left: 1.4rem;
			img {
				margin-right: 1rem;
				width: 17px;
			}
		}
		.button-outline-ios-light.activated{
			background: none !important;
		}
		.button-ios {
			padding: 0 1.9rem;
			margin-left: 1.2rem;
		}
	}
	.funds {
		background: #fff;
		.funds-title,
		.withdrawal-record {
			color: #333;
			font-size: 1.5rem;
			border-bottom: solid 1px #f5f5f5;
			line-height: 44px;
			margin: 0 0 0 1.3rem;
			position: relative;
			span {
				font-size: 1.2rem;
				position: absolute;
				padding: 0 1rem;
				top: 0;
				right: 0;
				display: block;
				img {
					width: 2.4rem;
					vertical-align: middle;
				}
			}
			.showTotal {
				z-index: 100;
				padding-left: 3rem;
			}
			.showImg {
				right: 2.5rem;
				z-index: 99;
			}
		}
		.button {
			font-size: 1.5rem;
			display: block;
			height: 3.2rem;
			width: 100%;
			margin: 0 auto;
			padding: 0;
		}
		.button-outline-ios.activated  {
			background: none;
		}
		.btn-withdrawal,
		.btn-withdrawal.activated  {
			background: #5e9efe;
			color: #fff;
		}

		.total {
			font-size: 4.8rem;
			color: #5e9efe;
			position: relative;
			padding-left: 1.8rem;
			span {
				font-size: 1.8rem;
				position: absolute;
				left: 0;
				top: 8px;
			}
		}
		.approve,
		.withdrawal {
			color: #999;
			font-size: 1.2rem;
		}
		.btn-canwithdrawal,
		.btn-approve {
			border: solid 1px #ccc;
			color: #333; 
		}
		.withdrawal-record {
			margin-top: .5rem;
			border-top: solid 1px #f5f5f5;
			span {
				right: .65rem;
				img {
					width: 1.5rem;
				}
			}
		}
	}
	.help {
		background: #fff;
		margin-top: 30px;
		li {
			color: #333;
		    font-size: 1.5rem;
		    border-bottom: solid 1px #f5f5f5;
		    line-height: 44px;
		    padding: 0 0 0 1.3rem;
		    position: relative;
		    a {
	    		color: #333;
	    		text-decoration: none;
	    	}
		    span {
		    	color: #999;
		    	font-size: 1.2rem;
		    	position: absolute;
		    	right: .65rem;
		    	img {
					width: 1.5rem;
					vertical-align: middle;
				}
		    }
		}
	}
	.btn-logout {
		width: 90%;
		margin: 30px 5%;
	}
}