<ion-content>
	<ion-refresher (ionRefresh)="refreshGetUnhandleExpressGiftList($event)">
		<ion-refresher-content pullingText="下拉刷新" refreshingText="获取中...">
		</ion-refresher-content>
	</ion-refresher>
  <div class="gift-list">
	<div class="gift-item" *ngFor = "let item of unhandleExpressGiftArray;let i = index">
		<dl>
		<dt><img src="http://images.91topbaby.com/{{item.imageName}}" alt=""></dt>
		<dd class="product-title">
			<h2>{{item.giftName}}</h2>
			<!-- success unstart -->
			<span class="unstart">立即兑换</span>
		</dd>
		<dd class="reserve-phone">
					<span>预约手机：{{item.reservePhone}}</span>
			<a href="tel:{{item.reservePhone}}"><img src="assets/image/phone.png"></a>
		</dd>
		<dd class="member-phone">会员手机：{{item.memberPhone}}</dd>
		<dd class="get-time">领取时间：{{item.receiveDate | date:'yyyy-MM-dd HH:mm:ss'}}</dd>
		</dl>
		<div class="reserve-time">
			<div class="member-info">
				<ul>
					<li *ngFor = "let single of item.attrValueList">{{single.label}}：{{single.value}}</li>
				</ul>
			</div>
			<div class="btn-time">
				<button ion-button round (click)="sendProduct(i)">发货</button>
			</div>
		</div>
	</div>
  </div>
  <div class="btn-selfview" (click)="goExpressgift()">
		<span>查看已发货赠品</span>
	</div>
	<div class="no-data" *ngIf = "noData">
		<img src="../../assets/image/nodata.png" alt="">
		<p>空空如也</p>
	</div>
	<div class="btn-noMore" *ngIf = "showNoMoreGift">
		<span>—— 没有更多赠品了 ——</span>
	</div>
  <ion-infinite-scroll (ionInfinite)="infiniteGetUnhandleExpressGiftList($event)">
    <ion-infinite-scroll-content loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
