<ion-content>
  <div class="loading-wrapper" *ngIf="isLoadingShow">
    <div>
      <ion-spinner item-start [name]="load.spinner"></ion-spinner>
    </div>
    <div [innerHTML]="load.content"></div>
  </div>
  <ion-refresher *ngIf="!isLoadingShow" (ionRefresh)="pullRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="withdraw-record">
    <div class="withdraw-total">
      <span *ngIf="isShow">总金额：￥ {{ sum }}</span>
    </div>
    <div class="record-list">
      <div class="withdraw-item" *ngFor="let item of awardOrder">
        <ul>
          <li class='order-number'>订单编号：{{ item.relateId }}</li>
          <li class='base-number'>结算基数：￥{{ item.baseAmount }}</li>
          <li class='percentage'>奖励比例：{{ item.percent }}</li>
          <li class="money">奖励金额：￥{{ item.amount }}</li>
        </ul>
      </div>
    </div>
    <div class="no-data" *ngIf="isEmpty">
      <img src="./assets/image/nodata.png" alt="">
      <p>空空如也</p>
    </div>
    <div class="btn-noMore" *ngIf="awardOrder.length !== 0 && awardOrder.length === count">
      <span>—— 没有更多信息了 ——</span>
    </div>
  </div>
  <div class="request-defeat" *ngIf="requestFail">
    <img src="./assets/image/requestDefeat.png" alt="">
    <p>啊哦！页面走丢了</p>
    <button class="btn-request-defeat" ion-button full (touchstart)="refresh()">
      刷新再找一找
    </button>
  </div>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)" *ngIf="awardOrder.length < count">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载中">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>